// Appartments
.appartments__wrapper {
    width: 100%;
    max-width: 1287px;
    margin-bottom: 155px;
    display: flex;
}

.appartments__pictures {
    display: flex;
    overflow: hidden;

    .first-picture-block {
        position: absolute;
        transform: translate3d(-17%, 0, 0);
    }

    .second-picture-block {
        position: relative;
        margin: 0 178px 0 353px;
    }
}

.appartments__cloud {
    display: flex;
    align-items: center;

    width: 300px;
    height: 141px;
    padding: 30px;
    background: #fff;
    box-shadow: 4px 20px 42px 2px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    position: absolute;
    top: 58.5%;
    left: 38%;

    .cloud__text {
        margin: 0 0 0 20px;
        p {
            line-height: 1.7;
            letter-spacing: 1.15px;
        }
    }

    .cloud__title {
        font-weight: bold;
    }
}

.appartments__about {
    width: 375px;
    margin-top: 70px;
    }

    .appartments__subtitle {
        margin: 20px 0 58px 0;
        line-height: 1.7;
        letter-spacing: 1.15px;
}
