// Button
.button{
    padding: 21px 37px;

    background-color: $accent-color;
    color: #fff;
    font-weight: bold;
    border-radius: 29px; 
}

.email--button{
    position: absolute;
    top: 44%;
    right: 25%;
}