// Button
.button{
    padding: 18px 37px;

    background-color: $accent-color;
    color: #fff;
    font-weight: bold;
    border-radius: 29px; 
}

.email--button{
    position: absolute;
    top: 50%;
    right: 25%;
}