// Feedback

.feedback{
    padding-top: 200px;
    margin-top: 95px;
    background-image: url("img/feedback/feedback-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        display: block;
        width: 743px;
        height: 372px;
        background-image: url("img/feedback/feedback-oval.svg");
        background-size: initial;

        bottom: 0;
        left: 45%;
    }

    &::after{
        content: '';
        position: absolute;
        background-image: url("img/feedback/feedback-girl.svg");
        background-size: initial;

        display: block;
        width: 478px;
        height: 547px;

        bottom: 0;
        left: 50%;
    }
}

.feedback__info{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding-bottom: 55px;

    a{
        max-width: 172px;
    }
}
